data {
	display: table-row;
	text-align: center;
	border: 2px solid black;
	padding: 10px;

	line-height: 30px;
	font-size: 25px;
	background-color: rgb(100, 153, 184);
}
data-cell,
data-header {
	display: table-cell;
	border: solid 1px;
	width: 25%;
}
data-header {
	background-color: rgb(100, 101, 184);
	font-weight: 600;
}
